@model QLBVot.Models.Kho

@{
    ViewBag.Title = "Details";
}

<h2>Số liệu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vot.TenVot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vot.TenVot)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaKho }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
