@model QLBVot.Models.ThanhToan

@{
    ViewBag.Title = "Thêm mới Thanh Toán";
}

<h2>Thêm mới Thanh Toán</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="MaDonHang">Đơn hàng:</label>
        @Html.DropDownListFor(model => model.MaDonHang, (SelectList)ViewBag.MaDonHang, "Chọn đơn hàng", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="PhuongThucThanhToan">Phương thức thanh toán:</label>
        @Html.TextBoxFor(model => model.PhuongThucThanhToan, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="NgayThanhToan">Ngày thanh toán:</label>
        @Html.EditorFor(model => model.NgayThanhToan, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="SoTienThanhToan">Số tiền thanh toán:</label>
        @Html.EditorFor(model => model.SoTienThanhToan, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="TrangThaiThanhToan">Trạng thái thanh toán:</label>
        @Html.TextBoxFor(model => model.TrangThaiThanhToan, new { @class = "form-control" })
    </div>

    <div class="form-actions">
        <input type="submit" value="Thêm mới" class="btn btn-success" />
    </div>
}
