@model IEnumerable<QLBVot.Models.ThanhToan>

@{
    ViewBag.Title = "Danh sách Thanh Toán";
}

<h2>Danh sách Thanh Toán</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhuongThucThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTienThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThaiThanhToan)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhuongThucThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTienThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiThanhToan)
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaThanhToan }) |
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaThanhToan }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaThanhToan })
            </td>
        </tr>
    }
</table>
