@model IEnumerable<QLBVot.Models.NhanVien>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách nhân viên</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenNhanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChucVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNhanVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChucVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.MaNhanVien }) |
            @Html.ActionLink("Thông tin", "Details", new { id=item.MaNhanVien }) |
            @Html.ActionLink("Xoá", "Delete", new { id=item.MaNhanVien })
        </td>
    </tr>
}

</table>
