@model QLBVot.Models.Vot

@{
    ViewBag.Title = "Chi tiết vợt";
}

<h2>Chi tiết vợt</h2>

<div class="form-group">
    <label>@Html.DisplayNameFor(model => model.MaVot)</label>
    <p>@Html.DisplayFor(model => model.MaVot)</p>
</div>

<div class="form-group">
    <label>@Html.DisplayNameFor(model => model.TenVot)</label>
    <p>@Html.DisplayFor(model => model.TenVot)</p>
</div>

<div class="form-group">
    <label>@Html.DisplayNameFor(model => model.GiaBan)</label>
    <p>@Html.DisplayFor(model => model.GiaBan)</p>
</div>

<div class="form-group">
    <label>@Html.DisplayNameFor(model => model.SoLuongTon)</label>
    <p>@Html.DisplayFor(model => model.SoLuongTon)</p>
</div>

<div class="form-group">
    <label>@Html.DisplayNameFor(model => model.Anh)</label>
    @if (!string.IsNullOrEmpty(Model.Anh))
    {
        <img src="@(Url.Content(Model.Anh))" alt="@Model.TenVot" width="100" />
    }
</div>

<p>
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary" })
</p>
