@model QLBVot.Models.Vot

@{
    ViewBag.Title = "Chỉnh sửa vợt";
}

<h2>Chỉnh sửa vợt</h2>

@using (Html.BeginForm("Edit", "Vots", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.MaVot)
        @Html.TextBoxFor(model => model.MaVot, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.MaVot, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TenVot)
        @Html.TextBoxFor(model => model.TenVot, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TenVot, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GiaBan)
        @Html.TextBoxFor(model => model.GiaBan, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SoLuongTon)
        @Html.TextBoxFor(model => model.SoLuongTon, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Anh)
        <input type="file" name="Anh" class="form-control" />
        @if (!string.IsNullOrEmpty(Model.Anh))
        {
            <div>
                <img src="@(Url.Content(Model.Anh))" alt="@Model.TenVot" width="100" />
            </div>
        }
        @Html.ValidationMessageFor(model => model.Anh, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Cập nhật</button>
}
